@charset "utf-8";
/* CSS Document */
/* Global */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #555;
    background-color: rgba(100, 100, 100, 0.1);
    background-image: url('../image/stripe_loop.png');
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #555555;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: color 0.25s;
    -moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
}

a:hover {
    color: #198d44;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: -5em;
    margin-bottom: 0.5em;
    font-size: 1.3em;
    font-weight: bold;
    width: 22em;
    color: #0078e1;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}


.slogan {
    font-size: 0.7em;
    color: #333;
}

.signin {
    width: 30em;
    height: 12em;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.signin_main {
    width: 17em;
    height: 9em;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

input {
    width: 13em;
    height: 2em;
    padding-left: 1em;
    border: solid 1px #a8d1f5;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: #0078e1;
    margin: 0.5em;
}

input:focus {

}

#password {
    letter-spacing: 5px;
}

.button {
    color: white;
    background-color: rgba(0, 120, 255, 1);
    padding: 5px 10px 5px 10px;
    font-size: 0.8em;
    border-radius: 5px;
    margin: 0.5em;
    cursor: pointer;
}